# IntelliJ IDEA
.idea
.ijwb

# JetBrains Fleet
.fleet

# VS Code
.vscode

# Build folder
build

# Distribution folder
dist

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Tests
*.test

# Go coverage tool output
*.out
